<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56748131578-mti9cqq5vioo6ibhgrrcvpfb12lqri25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56748131578-mti9cqq5vioo6ibhgrrcvpfb12lqri25</string>
	<key>API_KEY</key>
	<string>AIzaSyCzmDYz2GoOHryy1wjDmXVgo28lpyifqcE</string>
	<key>GCM_SENDER_ID</key>
	<string>56748131578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gjodev.ManyEggsOneBasket</string>
	<key>PROJECT_ID</key>
	<string>many-eggs-one-basket</string>
	<key>STORAGE_BUCKET</key>
	<string>many-eggs-one-basket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56748131578:ios:4f8c452d45958760303543</string>
</dict>
</plist>